<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{32.735629, -117.151721}</string>
	<string>{32.735115, -117.151776}</string>
	<string>{32.735397, -117.151410}</string>
</array>
</plist>
