<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{32.736033,-117.149660}</string>
	<string>{32.735415, -117.149676}</string>
	<string>{32.734826, -117.149510}</string>
	<string>{32.734465, -117.149488}</string>
	<string>{32.734021, -117.149192}</string>
</array>
</plist>
