<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{32.734980, -117.150918}</string>
	<string>{32.734833, -117.151030}</string>
	<string>{32.734738, -117.151074}</string>
	<string>{32.734676, -117.151077}</string>
	<string>{32.734664, -117.150912}</string>
	<string>{32.734827, -117.151028}</string>
</array>
</plist>
